<mat-card>
  <mat-card-content>Trending</mat-card-content>
</mat-card>
<mat-grid-list class="grid" cols="4" rowHeight="520px">
    <mat-grid-tile>
    <mat-card id="example-card">
    <mat-card-header>
      <mat-card-title>Avengers:Endgame </mat-card-title>
      <mat-card-subtitle>2019</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="example-card-image" src="assets\image_1.jpg" alt="Poster of the movie">
    <mat-card-subtitle class="dsubtitle"> Rating: 8.4/10 </mat-card-subtitle>
    <mat-card-actions>
      <button mat-mini-fab color="primary" id="int-buttons" aria-label="Example icon button with a menu icon">
         <mat-icon>star</mat-icon>
      </button>
      <button mat-mini-fab color="primary" id="int-buttons" aria-label="Example icon button with a menu icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
    </mat-grid-tile>
   
    <mat-grid-tile>
  <mat-card id="example-card">
    <mat-card-header>
      <mat-card-title>Dune</mat-card-title>
      <mat-card-subtitle>2022</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="example-card-image" src="assets\image_2.jpg" alt="Poster of the movie">
    <mat-card-subtitle class="dsubtitle"> Rating: 8/10 </mat-card-subtitle>
    <mat-card-actions>
      <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
         <mat-icon>star</mat-icon>
      </button>
      <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>
  
  <mat-grid-tile>
  <mat-card id="example-card">
    <mat-card-header>
      <mat-card-title>Inception</mat-card-title>
      <mat-card-subtitle>2010</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="example-card-image" src="assets\image_3.jpg" alt="Poster of the movie">
    <mat-card-subtitle class="dsubtitle"> Rating: 8.8/10 </mat-card-subtitle>
    <mat-card-actions>
      <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
         <mat-icon>star</mat-icon>
      </button>
      <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card id="example-card">
      <mat-card-header>
        <mat-card-title>In-Time</mat-card-title>
        <mat-card-subtitle>2011</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="example-card-image" src="assets\image_4.jpg" alt="Poster of the movie">
      <mat-card-subtitle class="dsubtitle"> Rating: 6.7/10 </mat-card-subtitle>
      <mat-card-actions>
        <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
           <mat-icon>star</mat-icon>
        </button>
        <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card id="example-card">
        <mat-card-header>
          <mat-card-title>How It ends</mat-card-title>
          <mat-card-subtitle>2018</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="example-card-image" src="assets\image_5.jpg" alt="Poster of the movie">
        <mat-card-subtitle class="dsubtitle"> Rating: 5/10 </mat-card-subtitle>
        <mat-card-actions>
          <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
             <mat-icon>star</mat-icon>
          </button>
          <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card id="example-card">
          <mat-card-header>
            <mat-card-title>Titanic</mat-card-title>
            <mat-card-subtitle>1997</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="example-card-image" src="assets\image_6.jpg" alt="Poster of the movie">
          <mat-card-subtitle class="dsubtitle"> Rating: 7.9/10 </mat-card-subtitle>
          <mat-card-actions>
            <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
               <mat-icon>star</mat-icon>
            </button>
            <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
              <mat-icon>share</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card id="example-card">
            <mat-card-header>
              <mat-card-title>Avatar</mat-card-title>
              <mat-card-subtitle>2009</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="example-card-image" src="assets\image_7.jpg" alt="Poster of the movie">
            <mat-card-subtitle class="dsubtitle"> Rating: 7.9/10 </mat-card-subtitle>
            <mat-card-actions>
              <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
                <mat-icon>star</mat-icon>
              </button>
              <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
                <mat-icon>share</mat-icon>
              </button>

            </mat-card-actions>
          </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card id="example-card">
              <mat-card-header>
                <mat-card-title>Avatar 2</mat-card-title>
                <mat-card-subtitle>2022</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class="example-card-image" src="assets\image_8.jpg" alt="Poster of the movie">
              <mat-card-subtitle class="dsubtitle"> Rating: 7.9/10 </mat-card-subtitle>
              <mat-card-actions>
                <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
                  <mat-icon>star</mat-icon>
                </button>
                <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
                  <mat-icon>share</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-card id="example-card">
                <mat-card-header>
                  <mat-card-title>Grown Ups 2</mat-card-title>
                  <mat-card-subtitle>2013</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="example-card-image" src="assets\image_9.jpg" alt="Poster of the movie">
                <mat-card-subtitle class="dsubtitle"> Rating: 5.3/10 </mat-card-subtitle>
                <mat-card-actions>
                  <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
                     <mat-icon>star</mat-icon>
                  </button>
                  <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
                    <mat-icon>share</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-card id="example-card">
                  <mat-card-header>
                    <mat-card-title>Joker</mat-card-title>
                    <mat-card-subtitle>2019</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="example-card-image" src="assets\image_10.jpg" alt="Poster of the movie">
              <mat-card-subtitle class="dsubtitle"> Rating: 8.4/10 </mat-card-subtitle>
                  <mat-card-actions>
                    <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
                       <mat-icon>star</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
                      <mat-icon>share</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-card id="example-card">
                    <mat-card-header>
                      <mat-card-title>Intersteller</mat-card-title>
                      <mat-card-subtitle>2014</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image class="example-card-image" src="assets\image_11.jpg" alt="Poster of the movie">
                    <mat-card-subtitle class="dsubtitle"> Rating: 8.6/10 </mat-card-subtitle>
                    <mat-card-actions>
                      <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
                         <mat-icon>star</mat-icon>
                      </button>
                      <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
                        <mat-icon>share</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-card id="example-card">
                      <mat-card-header>
                        <mat-card-title>Moana</mat-card-title>
                        <mat-card-subtitle>2016</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image class="example-card-image" src="assets\image_12.jpg" alt="Poster of the movie">
                      <mat-card-subtitle class="dsubtitle"> Rating: 7.6/10 </mat-card-subtitle>
                      <mat-card-actions>
                        <button mat-mini-fab color="primary" id="int-buttons" aria-label="like button">
                           <mat-icon>star</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" id="int-buttons" aria-label="share button">
                          <mat-icon>share</mat-icon>
                        </button>
                      </mat-card-actions>
                    </mat-card>
                    </mat-grid-tile>

  
  </mat-grid-list>