
<mat-nav-list>
    <div class="logo ">
        <a routerLink="/home" routerLinkActive="active">
        <img src="assets\favicon.ico" width="30px" height="30px" alt="LibraryLogo">
        <span class="logo-text"> MovFlicks </span>
        </a>
    </div>
    <mat-divider></mat-divider>
<nav></nav>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon matListIcon> home </mat-icon>
        <span matLine class="list-text"> Home Page </span>
    </a>
    <a mat-list-item routerLink="/explore" routerLinkActive="active">
        <mat-icon matListIcon>language</mat-icon>
        <span matLine class="list-text"> Browse </span>
    </a>
    <a mat-list-item routerLink="/preview" routerLinkActive="active">
        <mat-icon matListIcon>movie</mat-icon>
        <span matLine class="list-text"> View </span>
    </a>
    <a mat-list-item routerLink="/add-movies" routerLinkActive="active">
        <mat-icon matListIcon>add</mat-icon>
        <span matLine class="list-text"> New Movie /TV-Show </span>
    </a>
    <a mat-list-item routerLink="/contact-us" routerLinkActive="active">
        <mat-icon matListIcon>phone</mat-icon>
        <span matLine class="list-text"> Contact Us </span>
    </a>
</mat-nav-list>

    
